# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.eggs/
*.egg-info/

# PyInstaller
*.manifest
*.spec
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache

# Sphinx documentation
docs/_build/

# Emacs, vim
.#*
*.swp

# Notebook Checkpoints
.ipynb_checkpoints/


# Mac specific
.DS_Store
